{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script>
        var refreshGameState = function(){
//      $.ajax('trololo.com', {data: 'myname'}).done(function(data){
//          console.debug(data);
//      });
            var mockData = {
                "empty_board_state" : {
                    "the_end": false,
                    "message": "cypreess won!",
                    "last_player": 1,
                    "players": []
                },
                "players" : [
                    {
                        id: 1,
                        name: "cypreess",
                        url: '',
                        avatar: '',
                        dice: [1,2,3,4],
                        bid: [2, 5],
                        active: true
                    },
                    {
                        id: 2,
                        name: "p2",
                        url: '',
                        avatar: '',
                        dice: [1,4,4],
                        bid: [4, 1],
                        active: false
                    },
                ]
            }

            // build div with players info
            var $playersInfo = $('#players_info');
            for(var j in mockData.players){
              var player = mockData.players[j];

              var $currentPlayerInfo = $('<div class="col-md-6"></div>');

              // player avatar and name
              var $playerID = $('<div class="col-md-12 col-xs-12 nopadding"></div>');
              var $playerName = $('<div class="col-md-9 col-xs-9 " style="padding-top:5%"><b>' + player.name + '</b></div>');
              // add avatar only if exists
              var $playerAvatarImg = $('<img class="scaled">');
              if (player.avatar !== ''){
                $playerAvatarImg.attr({'src': player.avatar})
              } else {
                $playerAvatarImg.attr({"src": '{% static "img/avatar-blank.jpg" %}', "style":"margin-bottom: 1em"})
              }

              var $playerAvatar = $('<div class="col-md-3 col-xs-3 nopadding" ></div>').append($playerAvatarImg);

              $playerID.append($playerAvatar);
              $playerID.append($playerName);
              $currentPlayerInfo.append($playerID);

              $('<div class="col-md-12 col-xs-12 badge badge-info">Player\'s dice</div>').appendTo($currentPlayerInfo);
              var $diceDiv = $('<div class="col-md-12 col-xs-12 "></div>');

              var dice = player.dice;
              for(var die in dice){
                var die = dice[die];
                var $dieImgs = $('<img class="scaled">').attr({'src': '/static/img/'+die+'k6.png'});
                $('<div class="col-md-2 col-xs-2  nopadding" style="overflow:hidden"></div>').append($dieImgs).appendTo($diceDiv);
              }
              $currentPlayerInfo.append($diceDiv);

              // player's bid
              $('<div class="col-md-12 col-xs-12 badge badge-info" style="margin-top:1em" >Last bid</div>').appendTo($currentPlayerInfo);
              var $bidDiceDiv = $('<div class="col-md-12 col-xs-12 " ></div>');
              var bid = player.bid;
              var quantity = dice[1];
              var diceValue = dice[2];
              for (var i=0; i<quantity; i++){
                var $dieImgs = $('<img class="scaled">')
                  .attr({'src': '/static/img/'+diceValue+'k6.png'});

                $('<div class="col-md-2 col-xs-2 nopadding" style="overflow:hidden"></div>').append($dieImgs).appendTo($bidDiceDiv);
              }
              $currentPlayerInfo.append($bidDiceDiv);

              // finally add rest
              $playersInfo.append($currentPlayerInfo);
            }
              var $messageBox = $('h1#messageText');
              $messageBox.append(mockData.empty_board_state.message);
        }

        setTimeout(function() {refreshGameState()}, 1000);</script>
</head>

<body>

<div class="container">

    <!-- Static navbar -->
    <img src="{% static "img/logo.jpg" %}" class="img-responsive" alt="Responsive image">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <h1 id="messageText">

            </h1>
        </div><!--/.container-fluid -->
    </div>


    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-md-12" id="players_info"> </div>

        <div role="navigation" class="col-md-4">
        </div><!--/span-->
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="bootstrap/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

